@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Serif Display font classes */
.noto-serif-display-400 {
  font-family: "Noto Serif Display", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-serif-display-700 {
  font-family: "Noto Serif Display", serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Manrope font classes */
.manrope-400 {
  font-family: "Manrope", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.manrope-700 {
  font-family: "Manrope", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}



.scroll-view {
  opacity: 0;
  transform: translateY(40px);
  will-change: opacity, transform;
}

.font-serif{
  font-family: "PT Serif", serif!important;
}
